@import "the-goods";

html {
    box-sizing               : border-box;
    font-family              : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size                : 62.5%;
    height                   : 100%;
    word-spacing             : 1px;
    -ms-text-size-adjust     : 100%;
    -webkit-text-size-adjust : 100%;
    -moz-osx-font-smoothing  : grayscale;
    -webkit-font-smoothing   : antialiased;

    @include screen-xs-sm-md {
        overflow-x : hidden;
    }
}

body {
    font-size   : 1.5rem;
    font-family : 'Source Sans Pro', sans-serif;
}

*,
*:before,
*:after {
    box-sizing : border-box;
    margin     : 0;
}

h2 {
    font-size   : 2.8rem;
    line-height : 1.34;
    margin      : 0 0 1.2rem;

    @include screen-md-lg-xl {
        font-size : 3.2rem;
        margin    : 0 0 2rem;
    }
}

a, button {

    &:focus {
        outline : none;
    }

    &:hover {
        cursor          : pointer;
        text-decoration : none;
    }
}

a {
    transition : color 250ms $cubic-out;
}

img {
    max-width : 100%;
}

.page {
    position: relative;
    z-index : 3;
}

p.callout {
    font-size   : 2rem;
    line-height : 1.6;
    margin      : 4rem auto 5rem auto;
    text-align  : center;

    @include screen-md-lg-xl {
        font-size : 2.4rem;
        margin    : 7rem auto;
    }

    @include screen-lg-xl {
        max-width: 70%;
    }

    .cta {
        margin-top : 3.2rem;
    }
}
