@import "the-goods";

html {
    box-sizing               : border-box;
    font-family              : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size                : 62.5%;
    height                   : 100%;
    word-spacing             : 1px;
    -ms-text-size-adjust     : 100%;
    -webkit-text-size-adjust : 100%;
    -moz-osx-font-smoothing  : grayscale;
    -webkit-font-smoothing   : antialiased;

    @include screen-xs-sm-md {
        overflow-x : hidden;
    }
}

body {
    font-size   : 1.5rem;
    font-family : 'Open Sans', 'sans-serif';
}

*,
*:before,
*:after {
    box-sizing : border-box;
    margin     : 0;
}

a, button {

    &:focus {
        outline : none;
    }

    &:hover {
        cursor          : pointer;
        text-decoration : none;
    }
}

a {
    transition : color 250ms $cubic-out;
}
