.copperplate {
    font-family : Copperplate, "Copperplate Gothic Light", sans-serif;
}

.barlow {
    font-family : 'Barlow', sans-serif;
}

.source-sans-pro {
    font-family: 'Source Sans Pro', sans-serif;
}
