.copperplate {
    font-family : Copperplate, "Copperplate Gothic Light", sans-serif;
}

.barlow {
    font-family : 'Barlow', sans-serif;
}

.open-sans {
    font-family : 'Open Sans', sans-serif;
}
