@import "bootstrap/variables";

//----------------------------------------------
// Grid
//----------------------------------------------
$screen-sm : map-get($grid-breakpoints, 'sm');
$screen-sm-min : $screen-sm;

$screen-md : map-get($grid-breakpoints, 'md');
$screen-md-min : $screen-md;

$screen-lg : map-get($grid-breakpoints, 'lg');
$screen-lg-min : $screen-lg;

$screen-xl : map-get($grid-breakpoints, 'xl');
$screen-xl-min : $screen-xl;

$screen-xs-max : ($screen-sm-min);
$screen-sm-max : ($screen-md-min - 1);
$screen-md-max : ($screen-lg-min - 1);
$screen-lg-max : ($screen-xl-min - 1);

//----------------------------------------------
// Colors
//----------------------------------------------
$color-off-black : #222;
$color-off-white : #fafafa;
$color-grey : #999;
$color-text-light : hsla(29, 20%, 84%, 1.00);
$color-molten : #FF7931;
$color-bg-dark : #231f20;

//----------------------------------------------
// Easing
//----------------------------------------------
$cubic-in-out : cubic-bezier(0.655, 0.000, 0.355, 1.000);
$cubic-in : cubic-bezier(0.55, 0.055, 0.675, 0.19);
$cubic-out : cubic-bezier(0.215, 0.61, 0.355, 1);

//----------------------------------------------
// Dimensions
//----------------------------------------------
$header-height : 13.5rem;
$footer-height : 6.5rem;
