@import "../bootstrap/variables";
@import "../vars";

@mixin screen-xs {
  @media (max-width : $screen-xs-max) {
    @content;
  }
}

@mixin screen-xs-sm {
  @media (max-width : $screen-sm-max) {
    @content;
  }
}

@mixin screen-xs-sm-md {
  @media (max-width : $screen-md-max) {
    @content;
  }
}

@mixin screen-xs-sm-md-lg {
  @media (max-width : $screen-lg-max) {
    @content;
  }
}

@mixin screen-sm {
  @media (min-width : $screen-sm-min) and (max-width : $screen-sm-max) {
    @content;
  }
}

@mixin screen-sm-md {
  @media (min-width : $screen-sm-min) and (max-width : $screen-md-max) {
    @content;
  }
}

@mixin screen-sm-md-lg {
  @media (min-width : $screen-sm-min) and (max-width : $screen-lg-max) {
    @content
  }
}

@mixin screen-sm-md-lg-xl {
  @media (min-width : $screen-sm-min) {
    @content;
  }
}

@mixin screen-md {
  @media (min-width : $screen-md-min) and (max-width : $screen-md-max) {
    @content;
  }
}

@mixin screen-md-lg {
  @media (min-width : $screen-md-min) and (max-width : $screen-lg-max) {
    @content;
  }
}

@mixin screen-md-lg-xl {
  @media (min-width : $screen-md-min) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width : $screen-lg-min) and (max-width : $screen-lg-max) {
    @content;
  }
}

@mixin screen-lg-xl {
  @media (min-width : $screen-lg-min) {
    @content;
  }
}

@mixin screen-xl {
  @media (min-width : $screen-xl-min) {
    @content;
  }
}

@mixin hidden-xs {
  @include screen-xs {
    display : none;
  }
}

@mixin hidden-sm {
  @include screen-sm {
    display : none;
  }
}

@mixin hidden-md {
  @include screen-md {
    display : none;
  }
}

@mixin hidden-lg {
  @include screen-lg {
    display : none;
  }
}

@mixin hidden-xl {
  @include screen-xl {
    display : none;
  }
}

@mixin desktop-view {
  @include screen-xs-sm {
    display : none;
  }
}

@mixin mobile-view {
  @include screen-md-lg {
    display : none;
  }
}

@mixin screen-desktop {
  @include screen-md-lg-xl {
    @content;
  }
}

@mixin screen-mobile {
  @include screen-xs-sm {
    @content;
  }
}

@mixin screen-short-wide {
  @media screen and (max-height: 650px) and (min-width: 1300px) {
    @content;
  }
}
